.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 264px;
    border-radius: 18px;
    border-color: '#CFCFE4';
    border-width: 1px;
    border-style: solid;
    padding: 12px;
    height: fit-content;

    @media screen and (max-width:525px) {
        min-width: 210px;
        padding: 6px;
    }

    @media screen and (max-width:425px) {
        min-width: 150px;
    }

}