@font-face {
    font-family: 'Nunito';
    src: url('assets/fonts/Nunito-Regular.ttf');
}

:root {
    --green: #00bf63;
    --red: #ff66c4;
    --blue: rgb(51 110 194);
    --yellow: rgb(234 182 62);
    --deep-blue: #0e2253;
}

* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    font-weight: bold;
}
